@font-face{
    src: url(fonts/Open_Sans/OpenSans-Light.ttf );
    font-family: opensans;
}
ul, li{
    font-family: 'Lato', sans-serif;
}
label, p, h1, h2, h3, legend, small, strong{
    font-family: 'opensans', sans-serif;
}
html{
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw;
}
body{
    margin: 0 !important;
    padding: 0 !important;
}
::-webkit-scrollbar {
    z-index: 230;
    width: 10px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    z-index: 230;
    background: #1d1d1b;
}
