@media ( max-width: 768px ){
    .cardlist{
        padding: 0;
        margin: 0;
        height: auto;
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .cardlist__container{
        flex-direction: column;
    }
    .card{
        width: 100%;
        max-width: 100%;
        margin-bottom: 0.5em;
    }
    .card__shadow{
        display: block;
    }
}