.categories{
    width: 100vw !important;
    margin: 0;
    padding: 0;
}
    .manage__form{
        width: 100%;
    }
    .table__category__row{
        width: 100%;
    }
    .table__category__row td{
        height: 100%;
        padding: 0;
        margin: 0;
        padding: 0.5em;
    }
    .center_td{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .cover{            
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 15%;
            height: 100%;
        }
            .cover__selector{
                height: 15%;
                width: 100%;
            }
            .cover__container{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                max-height: 90%;
            }
                .cover__img{
                    max-width: 100%;
                    max-height: 100%;
                }
        .title{
            width: 20%;
        }
        .description{
            width: 45%;
        }
            .description_input{
                height: 100%;
            }
        .changes{
            width: 20%;
        }
            .full__input{
                width: 100%;
            }