<div id="us" class="us">
    <div class="us__title">
        <h1>NOSOTROS</h1>
    </div>
    <div class="us__content">
        <div class="us__img">
            <img class="us__img__img" src="img/basic/small-nosotros.jpg" alt="us img">
        </div>
        <div class="us__info">
            <p>Estancia 25 Arquitectos S.A. DE C.V. Somos una empresa cuya
                misión es brindar a nuestros clientes los servicios de
                construcción y diseño arquitectónico, así como, la dirección,
                control y administración ejecución de la obra pública y
                privada; en la sé muestren la calidad y eficiencia con la que
                trabajamos, generando a su vez un ambiente laboral que
                estimule el desarrollo profesional de nuestros integrantes.
            </p>
            <p>Somos un estudio de arquitectura e ingeniería con experiencia
                en el ámbito de la construcción desde los años 90’s con sede
                en la ciudad de Guadalajara, Jalisco.</p>
            <p>Nos gusta generar sinergias que sitúan el cliente en el centro
                con el fin de tratar sus proyectos como si fueran nuestros, por
                eso, llevamos a cabo una serie de dinámicas en las que el
                cliente es partícipe del proceso de diseño. Estas actividades
                nos permite obtener una mayor información sobre el proyecto,
                comprender las necesidades reales de este, detectar sus
                carencias y fortalezas con el objetivo de mejorar y consolidar
                una correcta relación cliente-estudio, y sobretodo aportar valor
                y personalidad a sus proyectos.
            </p>
        </div>
    </div>
</div>