<div class="footer">
    <div class="footer__text">
        <label class="footer__address">Direccion - Buenos aires 2608 col. Providencia segunda seccion, Guadalajara, Jalisco, México. CP - 44630</label>
        <label class="footer__email">Email - contacto@gdlbiketours.mx</label>
        <label class="footer__phones">Teléfonos - 3323488995  -  3336629249</label>
    </div>
    <div class="footer__sn">
        <div onclick="window.location = 'https\://www.instagram.com/estancia25arquitectos/'" class="footer__sn-app"><i class="fab fa-instagram fa-2x"></i></div>
        <div onclick="window.location = 'https\://web.facebook.com/estancia25/'" class="footer__sn-app"><i class="fab fa-facebook fa-2x"></i></div>
        <div class="footer__sn-app"><i class="fab fa-whatsapp fa-2x"></i></div>
    </div>
</div>
