.cProj{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    min-height: calc( 100vh - 100px );  
    padding-top: calc( 100px + 1em );
    /*background-color: #1d1d1b;*/
}
    .cProj__title{
        color: #A42035;
        text-align: center;    
    }
    .cProj__row{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 400px;
        width: 100vw;
        margin-bottom: 2em;
    }
        .project__container{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            width: 20vw;
            max-width: 420px;
            background: transparent;
        }
            .project__container__top{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                height: 70%;
                width: 100%;
            }
                .project__container__img{
                    max-width: 100%;
                    max-height: 100%;
                    z-index: 10;
                    transition: transform 0.3s ease-out;
                }
                .project__details{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 240px;
                    height: 40px;
                    max-width: 80%;
                    margin: 0;
                    border: 1px solid white;
                    background: transparent;
                    font-weight: 600;
                    color: white;
                    cursor: pointer;
                    opacity: 0;
                    transition: opacity 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
                    z-index: 110;
                }
                .project__details:hover{
                    color: #A42035;
                    background-color: white;
                }
                .project__shadow{
                    position: absolute;
                    background: #1d1d1b;
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: opacity 0.3s ease-out;
                    z-index: 100;
                }
            .project__container__bottom{
                margin: 0;
                
            }
                .project__container__bottom h3{
                    margin: 0;
                    color: white;

                }
            .project__container:hover .project__shadow{
                opacity: 0.7;
            }
            .project__container:hover .project__details{
                opacity: 1;
            }
            .project__container:hover .project__container__img{
                transform: scale(1.1);
            }
        